{% extends "djangoTest/base.html" %}

{% block content %}
    <div class="header">
        <h1>Articles</h1>
        <button class="headerButton" onclick="window.location.replace('http://localhost:8000/djangoTest/');">Go Back</button>
    </div>
    {% if objs %}
        {% for entity in objs %}
            <div class="parentPostDiv">
                <div class="postDiv">
                    <div style="display: flex; justify-content: space-around">
                        <h2>{{ entity.title }}</h2>
                        <div></div><div></div><div></div><div></div>
                        <div></div><div></div><div></div><div></div>
                        <div></div><div></div><div></div><div></div>
                        <a href="delete_article/{{ entity.id }}" class="deleteSubmit">Delete</a>
                    </div>
                    <h4>{{ entity.body }}</h4>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>"No articles yet."</h1>
    {% endif %}
    <div class="parentFormDiv">
        <div class="formDiv">
            <h2>New Article</h2>
            <form action="add_article/" method=post>
                {% csrf_token %}
                <label for="inputID">Title:</label>
                <input class="customInput" type="text" name="first">
                <label for="inputID">Description:</label>
                <textarea name="last" cols="40" rows="5"></textarea>
                <input class="customSubmit" type="submit" value="Save">
            </form>
        </div>
    </div>

    <div class="parentFormDiv">
        <div class="formDiv">
            <h2>Edit Article</h2>
            <form action="edit_article/" method=post>
                {% csrf_token %}
                <label for="inputID">Id:</label>
                <input class="customInput" type="text" name="edit_id">
                <label for="inputID">New Title:</label>
                <input class="customInput" type="text" name="edit_first">
                <label for="inputID">New Description:</label>
                <textarea name="edit_last" cols="40" rows="5"></textarea>
                <input class="customSubmit" type="submit" value="Save">
            </form>
        </div>
    </div>
{% endblock %}