{% extends "djangoTest/base.html" %}

{% block content %}

<form action="{% url 'djangoTest:chefs' %}" method="post">
    {% csrf_token %}
    <input class="customInput" type="submit" value="Chefs">
</form>

<form action="{% url 'djangoTest:recipes' %}" method="post">
    {% csrf_token %}
    <input class="customInput" type="submit" value="Recipes">
</form>

<form action="{% url 'djangoTest:ingredients' %}" method="post">
    {% csrf_token %}
    <input class="customInput" type="submit" value="Ingredients">
</form>

<form action="{% url 'djangoTest:posts' %}" method="post">
    {% csrf_token %}
    <input class="customInput" type="submit" value="Posts">
</form>

<form action="{% url 'djangoTest:articles' %}" method="post">
    {% csrf_token %}
    <input class="customInput" type="submit" value="Articles">
</form>

{% if user.is_authenticated %}
    <form action="{% url 'djangoTest:logout_req' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
{% endif %}

{% endblock %}